h1{
	color:cyan;
	align-content: auto;
}
img{
	width: 400px;
}
#thirdDiv{
	width: 500px; /*ancho*/
	height: 600px;/*alto*/
	background-color: cyan; 
	padding: 50px;
	border: 3px ;
	border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    
}
#spanId{
	font-size: 18px; /*tamaño de fuente*/
	margin: 50px; /*margen*/
}
a{
	color:blue; /*color azul del hipervinculo en realidad texto*/
}
ul{
	text-align:center;/*centrar el texto*/
	font-family: arial; /*fuente de la letra*/ 
}